$primary_color:#f2f2f2;
$secondary_color:#003B46;
$darkBlueColor: #388997;
$whitehater:#88878d;
$font-family: 'Poppins', sans-serif;

@mixin scrollBar {
  ::-webkit-scrollbar {
  background-color: rgb(148, 187, 171);
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #fcdd7f;
  border-bottom-left-radius: 7rem;
  border-bottom-right-radius: 7rem;
  border: 1px solid rgb(143, 133, 133);
  // border: 1px solid #AF9B60;

}

}


@mixin flexAlignJust {
  display: flex;
  justify-content: center;
  align-items: center
}

@mixin transformTransition ($scale:1) {
  transition: 1s;
  transform: scale($scale);
}

$spaceUnits:(1,2,3,4,5,6,7);

@each $space in $spaceUnits {
  .m-#{$space}{
    margin: #{$space}rem;
  }
  .mx-#{$space}{
    margin: 0rem #{$space}rem;
  }
  .my-#{$space}{
    margin: #{$space}rem 0rem;
  }
  .p-#{$space}{
    padding: #{$space}em;
  }
  .px-#{$space}{
    padding: 0em #{$space}em;
  }
  .py-#{$space}{
    padding: #{$space}em 0em;
  }

  .b-#{$space}{
    border: #{$space}px;
  }
  .bx-#{$space}{
    border: 0px #{$space}px;
  }
  .by-#{$space}{
    border: #{$space}px 0px;
  }
  .bb-#{$space}{
    border-bottom: #{$space}px solid gray;
  }
  .slideBox-#{$space} {
    @include flexAlignJust();
    background: url('../assests/blade.png') no-repeat !important;
    z-index: -2;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    color:$secondary_color;
    font-weight: 800;
    @media screen and (max-width:'678px') {
      display: none;
    }
    background: #f1f1ff;

  }
}